Repository step-Mate/Android, pull requests merged in 2024-01, with the labels that each got.

#8 Feat : 로그인 화면 추가
  app/build.gradle.kts
  app/src/main/kotlin/jinproject/stepwalk/app/ui/navigation/NavigationGraph.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/Button.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/Layout.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/SystemBarHiding.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/SystemBarHidingState.kt
  design/src/main/kotlin/jinproject/stepwalk/design/theme/Color.kt
  design/src/main/res/drawable/ic_kakao_simbol.xml
  design/src/main/res/drawable/ic_visibility_off.xml
  design/src/main/res/drawable/ic_visibility_on.xml
  design/src/main/res/values/string.xml
  feature/login/build.gradle.kts
  feature/login/src/main/AndroidManifest.xml
  feature/login/src/main/kotlin/jinproject/stepwalk/login/component/AccountDetail.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/component/ErrorMessage.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/component/LoginButton.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/component/LoginTextField.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/navigation/AuthNavigation.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/FindViewModel.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/findid/FindIdScreen.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/findid/FindIdViewModel.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/findpassword/FindPasswordScreen.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/findpassword/FindPasswordViewModel.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/login/LoginScreen.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/login/LoginViewModel.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/signup/SignUpScreen.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/signup/SignUpViewModel.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/signupdetail/SignUpDetailScreen.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/signupdetail/SignUpDetailViewModel.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/screen/state/Account.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/utils/FlowUtil.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/utils/NavAnimationUtil.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/utils/SnackBarMessage.kt
  feature/login/src/main/kotlin/jinproject/stepwalk/login/utils/ValidUtil.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: feature

#14 fix : #13 차트상세 화면 수정
  design/src/main/kotlin/jinproject/stepwalk/design/component/Button.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/TopBar.kt
  design/src/main/res/drawable/ic_check.xml
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/CalendarScreen.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/component/CalendarAppBar.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/component/calendar/Month.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/component/calendar/Year.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/component/chart/CalendarHealthChart.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/state/CalendarPreviewData.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/HomeScreen.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/HealthTabLayout.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/chart/ChartPopUp.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/chart/HealthChartComponents.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/chart/HealthChartLayout.kt
Labels: hot fix, design

#19 fix : 디자인 테마 수정
  app/build.gradle.kts
  app/src/main/kotlin/jinproject/stepwalk/app/StepWalkActivity.kt
  app/src/main/kotlin/jinproject/stepwalk/app/ui/navigation/BottomNavigationDestination.kt
  app/src/main/kotlin/jinproject/stepwalk/app/ui/navigation/NavigationGraph.kt
  app/src/main/kotlin/jinproject/stepwalk/app/ui/navigation/Router.kt
  buildSrc/src/main/kotlin/gradle/plugin/AndroidFeaturePlugin.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/Button.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/DefaultAppBar.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/Divider.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/ProgressIndicator.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/SnackBar.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/Spacer.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/SystemBarHiding.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/SystemBarHidingState.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/Text.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/TopBar.kt
  design/src/main/kotlin/jinproject/stepwalk/design/component/systembarhiding/SystemBarHidingState.kt
  design/src/main/kotlin/jinproject/stepwalk/design/theme/Color.kt
  design/src/main/kotlin/jinproject/stepwalk/design/theme/Theme.kt
  design/src/main/res/drawable/ic_bookmark.xml
  design/src/main/res/drawable/ic_bookmark_solid.xml
  design/src/main/res/drawable/ic_rankboard.xml
  feature/core/build.gradle.kts
  feature/core/src/main/AndroidManifest.xml
  feature/core/src/main/kotlin/jinproject/stepwalk/core/SnackBarMessage.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/navigation/HomeNavigation.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/CalendarScreen.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/component/calendar/CalendarLayout.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/component/calendar/Day.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/calendar/component/chart/CalendarHealthChart.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/HomeScreen.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/HomeTopAppBar.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/PopUpWindow.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/HealthTabLayout.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/chart/ChartPopUp.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/chart/HealthChartComponents.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/chart/HealthChartLayout.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/menu/MenuDetail.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/component/tab/menu/MenuPager.kt
  feature/home/src/main/kotlin/jinproject/stepwalk/home/screen/home/state/AchievementDegree.kt
  settings.gradle.kts
Labels: design
